.container {
  padding: 0 1rem;
}

main {
  max-width: 914px;
  margin: 0 auto;
}

aside {
  p {
    max-width: 340px;
  }
}

picture {
  display: flex;
  align-items: center;
  margin: 0 auto;

  @media (min-width: 48em) {
    width: 350px;
  }
}